p{
    background-color: orangered;
    font-weight: 200;
}
 div p{
    background-color: red;
 }
 .hero{
    background-color: cornsilk;
 }
 #para{
    background-color: honeydew;
    color:aliceblue
 }